# Data set: European Social Survey (ESS) - Human values scale

* European Social Survey (ESS): https://ess-search.nsd.no/CDW/ConceptVariables
* chosen topic "Human values scale"

In [1]:
import numpy as np
import pandas as pd
import csv
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("./Data set/ESS-Data-Wizard-subset-2023-04-12.csv") #just AUSTRIAN data

In [3]:
data.head()

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,anweight,...,ipfrule,ipgdtim,iphlppl,iplylfr,ipmodst,iprspot,ipshabt,ipstrgv,ipsuces,ipudrst
0,ESS1e06_6,1,6.6,01.12.2018,1,AT,0.9452,0.940933,0.271487,NaN,...,1.0,1.0,1.0,2.0,2.0,4.0,3.0,2.0,3.0,3.0
1,ESS1e06_6,1,6.6,01.12.2018,2,AT,0.4726,0.470466,0.271487,NaN,...,6.0,1.0,4.0,3.0,5.0,4.0,2.0,3.0,1.0,3.0
2,ESS1e06_6,1,6.6,01.12.2018,3,AT,0.9452,1.392155,0.271487,NaN,...,2.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0
3,ESS1e06_6,1,6.6,01.12.2018,4,AT,0.9452,1.382163,0.271487,NaN,...,3.0,5.0,4.0,2.0,5.0,4.0,4.0,3.0,4.0,1.0
4,ESS1e06_6,1,6.6,01.12.2018,6,AT,1.8905,1.437766,0.271487,NaN,...,6.0,2.0,1.0,1.0,5.0,5.0,3.0,4.0,4.0,1.0

In [4]:
data.columns

Index(['name', 'essround', 'edition', 'proddate', 'idno', 'cntry', 'dweight',
       'pspwght', 'pweight', 'anweight', 'prob', 'stratum', 'psu', 'impdiff',
       'impenv', 'impfree', 'impfun', 'imprich', 'impsafe', 'imptrad',
       'ipadvnt', 'ipbhprp', 'ipcrtiv', 'ipeqopt', 'ipfrule', 'ipgdtim',
       'iphlppl', 'iplylfr', 'ipmodst', 'iprspot', 'ipshabt', 'ipstrgv',
       'ipsuces', 'ipudrst'],
      dtype='object')

In [5]:
print(data['cntry'].unique()) #ONLY austrian data

['AT']

In [6]:
print(data['name'].unique())

['ESS1e06_6' 'ESS2e03_6' 'ESS3e03_7' 'ESS7e02_2' 'ESS8e02_2' 'ESS9e03_1'
 'ESS10SCe01_1']

In [7]:
print(data['edition'].unique()) #what is the meaning of "edition"?

[6.6 3.6 3.7 2.2 3.1 1.1]

In [8]:
print(data['essround'].unique()) # ESS rounds of the data set

[ 1  2  3  7  8  9 10]

## Legend

* impdiff - Important to try new and different things in life
* impenv - Important to care for nature and environment
* impfree - Important to make own decisions and be free
* impfun - Important to seek fun and things that give pleasure
* imprich - Important to be rich, have money and expensive things
* impsafe - Important to live in secure and safe surroundings
* imptrad - Important to follow traditions and customs
* ipadvnt - Important to seek adventures and have an exciting life
* ipbhprp - Important to behave properly
* ipcrtiv - Important to think new ideas and being creative
* ipeqopt - Important that people are treated equally and have equal opportunities
* ipfrule - Important to do what is told and follow rules
* ipgdtim - Important to have a good time
* iphlppl - Important to help people and care for others well-being
* iplylfr - Important to be loyal to friends and devote to people close
* ipmodst - Important to be humble and modest, not draw attention
* iprspot - Important to get respect from others
* ipshabt - Important to show abilities and be admired
* ipstrgv - Important that government is strong and ensures safety
* ipsuces - Important to be successful and that people recognize achievements
* ipudrst - Important to understand different people

*Further information about the data set:* 
* **CODEBOOK**: http://localhost:8888/lab/tree/Documents/GitHub/DDRM4DH_2023S/Data%20set/ESS-Data-Wizard-subset-2023-04-12%20codebook.html


### imprich - Important to be rich, have money and expensive things
**Value 	Category**

* 1 	Very much like me
* 2 	Like me
* 3 	Somewhat like me
* 4 	A little like me
* 5 	Not like me
* 6 	Not like me at all
* 7 	Refusal*
* 8 	Don't know*
* 9 	No answer*

*) Missing Value

In [9]:
# choose one example to visualize 
data['imprich'].value_counts()

4.0    3776
5.0    2989
3.0    2867
6.0    1567
2.0    1365
1.0     534
8.0      69
7.0      55
Name: imprich, dtype: int64

In [10]:
# create dictionary

dict_imprich = data['imprich'].value_counts().to_dict()

dict_imprich

{4.0: 3776,
 5.0: 2989,
 3.0: 2867,
 6.0: 1567,
 2.0: 1365,
 1.0: 534,
 8.0: 69,
 7.0: 55}

In [48]:
# use pop-method to rename key in dictionary : ini_dict['akash'] = ini_dict.pop('akshat')

In [22]:
df_imprich = pd.DataFrame.from_dict(dict_imprich, orient='index', columns=['count'])
df_imprich.index.name = 'imprich - Value Category'
df_imprich = df_imprich.sort_index()
df_imprich

                          count
imprich - Value Category
1.0                         534
2.0                        1365
3.0                        2867
4.0                        3776
5.0                        2989
6.0                        1567
7.0                          55
8.0                          69

In [ ]:
print(df_new)

In [21]:
from IPython.display import HTML
#HTML(filename='./Data set/ESS-Data-Wizard-subset-2023-04-12 codebook.html')

### impdiff - Important to try new and different things in life

ESS1, ESS2, ESS3, ESS4, ESS5, ESS6, ESS7, ESS8, ESS9, ESS10

**Category 	impdiff**
* Very much like me	1
* Like me	2
* Somewhat like me	3
* A little like me	4
* Not like me	5
* Not like me at all	6
* Refusal	7
* Don't know	8
* No answer	9